APP_NAME="Tes Fisik KONI Sumbar"
APP_URL=http://localhost/tesfisik
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tes_fisik_koni
DB_USERNAME=root
DB_PASSWORD=

MIGRATION_KEY=ganti-dengan-kunci-rahasia-panjang
PHOTO_URL_SECRET=ganti-dengan-kunci-foto-yang-panjang-dan-acak
ADMIN_USERNAME=admin
ADMIN_PASSWORD=GantiPasswordKuat123!
INPUT_USERNAME=input
INPUT_PASSWORD=GantiPasswordInput123!
PANITIA_USERNAME=panitia
PANITIA_PASSWORD=GantiPasswordPanitia123!

GOOGLE_SHEET_ID=1RkkkVWoX2aegBY-wFb4L51kW0fpb7RrqUJ6YGOU5K7Y
GOOGLE_SHEET_GID=444664103
GOOGLE_SHEET_NAME="Atlit dan Pelatih"
GOOGLE_SERVICE_ACCOUNT_JSON=/home/username/.secrets/google-service-account.json

GITHUB_WEBHOOK_SECRET=ganti-dengan-secret-webhook-yang-panjang-dan-acak
GITHUB_REPOSITORY=irwanrusda/tesfisik
DEPLOY_BRANCH=main
DEPLOY_REPOSITORY_PATH=/home/username/public_html/tesfisik
DEPLOY_GIT_BINARY=/usr/bin/git
DEPLOY_PHP_BINARY=/usr/local/bin/php
